/**
 * Body CSS
 */
html,
body {
  height: 100%;
  background: transparent ; /* #f4f4f4; */
  color: #0a1827;
}

/*
html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
*/

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 10%;
}

.home {
  width: 70vw;
}
.home * {
  padding: 10px;
}

.heading-one {
  font-size: 128px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 20px 10%;
  background: transparent; /*#f3b5fe;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80%;
  padding: 20px 10%;
  background: transparent; /*#f3b5fe;*/
  display: flex;
  justify-content: safe center;
  align-items: center;
  z-index: 5;
}

.logo {
  color: #636363;
  text-decoration: none;
  font-size: 25px;
}

.navbar a {
  color: #78088b;
  margin-left: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 18px;
}

.navbar a:hover,
.navbar a.active {
  color: #636363;
}

.montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Background Animation  */
.bg1 {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #fff 50%, #ddd 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:5s;
}

.bg3 {
  animation-duration:7s;
}

.bgcontent {
  background-color:slate;
  border-radius:.25em;
  box-shadow:0 0 .25em white;
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
